.containerHeader {
    background-color: rgb(230, 230, 238); 
    color: rgb(8, 1, 1); 
    padding: 20px; 
  }
  
  .containerHeader nav ul {
    list-style-type: none; 
    margin: 5; 
    padding: 0; 
  }
  
  .containerHeader nav ul li {
    display: inline; 
    margin-right: 20px; 
  }
